[Desktop Entry]
Type=Application
Name=DIRUE Linux
GenericName=Game mod menu
Comment=Native Linux DIRUE mod menu for Dead Island: Riptide Definitive Edition
Exec=dirue-linux
Icon=io.github.Kamui2040.DIRUELinux
Terminal=false
Categories=Game;Utility;
StartupNotify=true
StartupWMClass=io.github.Kamui2040.DIRUELinux
